@import "tailwindcss";

@font-face {
    font-family: 'S-CoreDream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@theme {
  --font-sans: "S-CoreDream", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "S-CoreDream", serif;
  --font-inter: "S-CoreDream", sans-serif;
  
  --color-primary: #8B7E74;
  --color-bg-light: #F9F8F6;
  --color-accent: #D4A373;
}

@layer base {
  body {
    @apply font-sans bg-bg-light text-neutral-800 antialiased;
  }
}

@layer utilities {
  .serif-text {
    @apply font-serif;
  }
}
